#ListTable {
    padding: 20px;
    .v-data-footer__select {
        content: 'Linhas por página' !important;
    }

    .v-data-table__wrapper {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .v-data-table-header {
        background: darkblue !important;
        th {
            color: white;
            font-size: 1.1rem;
            font-weight: 100;
        }
    }
}