#Dashboard {
    .info-dash {
        background: darkblue;
        height: auto;
    }

    .input-dash {
        .v-icon.notranslate.v-icon--link.material-icons.theme--light {
            color: white !important;
        }
        fieldset, label, i {
            color: white !important;
        }
        input {
            color: white !important;
        }
    }

    .cards-dash {
        margin-top: 50px;
    }

    .flex {
        padding: 15px;
    }
    
    .item-card-search {
        .flex {
            padding: 5px;
        }
    }

    .item-search {
        border: 1px solid grey;
    }

    .item-search:hover {
        opacity: .7;
        cursor: pointer;
    }

    .title-search {
        height: auto;
        background: darkblue;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .flex {
            padding: 0;
        }
    }

    .item-card {
        height: 100px;
        cursor: pointer;
        i {
            font-size: 50px !important;
        }
    }

    .card-title {
        background: darkblue;
        max-height: 30px;
        .v-card__title {
            flex-wrap: nowrap !important;
        }
    }

    .item-card:hover {
        opacity: .5;
    }
}